#header {
    clear:both;
    float:left;
    width:100%;
}
.colmask {
	position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
    clear:both;
    float:left;
    width:100%;			/* width of whole page */
	overflow:hidden;	/* This chops off any overhanging divs */
}
#footer {
    clear:both;
    float:left;
    width:100%;
}
