<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<% head do %>
		<title>The Full Page 1 column Liquid Layout. Pixel padding widths. Cross-Browser. Equal Height Columns.</title>
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
		<meta name="description" content="The Full Page 1 column Liquid Layout. Pixel padding widths. Cross-Browser. Equal Height Columns." />
		<meta name="keywords" content="The Full Page 1 column Liquid Layout. Pixel padding widths. Cross-Browser. Equal Height Columns." />
		<meta name="robots" content="index, follow" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		
	<% layout_and_theme_stylesheets '1_column_pixel' do %>
	    <style media="screen" type="text/css">
	    /* <!-- */
	    /* General styles */
	    body {
	        margin:0;
	        padding:0;
	        border:0;			/* This removes the border around the viewport in old versions of IE */
	        width:100%;
	        min-width:600px;    /* Minimum width of layout - remove line if not required */
								/* The min-width property does not work in old versions of Internet Explorer */
	    }
		/* Header styles */
	    #header {
	        clear:both;
	        float:left;
	        width:100%;
	    }
		#header {
			border-bottom:1px solid #000;
		}
		#header p,
		#header h1,
		#header h2 {
		    padding:.4em 15px 0 15px;
	        margin:0;
		}
		/* 'widths' sub menu */
		#layoutdims {
			clear:both;
			border-top:4px solid #000;
			margin:0;
			padding:6px 15px !important;
			text-align:right;
		}
		/* column container */
		.colmask {
			position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
		    clear:both;
		    float:left;
	        width:100%;			/* width of whole page */
			overflow:hidden;	/* This chops off any overhanging divs */
		}
		/* 1 column full page settings */
		.fullpage .col1 {
	        margin:0 15px;
		}
		/* Footer styles */
		#footer {
	        clear:both;
	        float:left;
	        width:100%;
			border-top:1px solid #000;
	    }
	    #footer p {
	        padding:10px;
	        margin:0;
	    }
	    /* --> */
	    </style>
	<% end %>
<% end %>

<% body do %>

<div id="header">
	<% header do %>
	    <p><a href="http://matthewjamestaylor.com/blog/ultimate-multi-column-liquid-layouts-em-and-pixel-widths" title="Ultimate multi-column liquid layouts (em and pixel widths)">&laquo; Back to the CSS article</a> by <a href="http://matthewjamestaylor.com">Matthew James Taylor</a></p>
	    <h1>The 'Full Page' 1 column Liquid Layout (Pixel-widths)</h1>
	    <h2>No CSS hacks. No Images. No JavaScript. Cross-browser.</h2>
	    <ul>
	        <li><a href="http://matthewjamestaylor.com/blog/ultimate-3-column-holy-grail-pixels.htm">3 Column <span>Holy Grail</span></a></li>
	        <li><a href="http://matthewjamestaylor.com/blog/ultimate-3-column-blog-style-pixels.htm">3 Column <span>Blog Style</span></a></li>
	        <li><a href="http://matthewjamestaylor.com/blog/ultimate-2-column-left-menu-pixels.htm">2 Column <span>Left Menu</span></a></li>
	        <li><a href="http://matthewjamestaylor.com/blog/ultimate-2-column-right-menu-pixels.htm">2 Column <span>Right Menu</span></a></li>
	        <li><a href="http://matthewjamestaylor.com/blog/ultimate-1-column-full-page-pixels.htm" class="active">1 Column <span>Full Page</span></a></li>
	        <li><a href="http://matthewjamestaylor.com/blog/ultimate-stacked-columns-pixels.htm">Stacked <span>Columns</span></a></li>
	    </ul>
		<p id="layoutdims">Measure columns in: <strong>Pixel widths</strong> | <a href="http://matthewjamestaylor.com/blog/ultimate-1-column-full-page-ems.htm">Em widths</a> | <a href="http://matthewjamestaylor.com/blog/perfect-full-page.htm">Percentage widths</a></p>
	<% end %>
</div>
<div class="colmask fullpage">
    <div class="col1">
		<%= render :partial => 'layouts/flashes' -%>
		<% column_1 do %>
			<!-- Your page content will end up in here. -->
		<% end %>
    </div>
</div>
<div id="footer">
	<% footer do %>
	    <p>This page uses the <a href="http://matthewjamestaylor.com/blog/ultimate-1-column-full-page-pixels.htm">Ultimate 'Full Page' 1 column Liquid Layout</a> by <a href="http://matthewjamestaylor.com">Matthew James Taylor</a>. View more <a href="http://matthewjamestaylor.com/blog/-website-layouts">website layouts</a> and <a href="http://matthewjamestaylor.com/blog/-web-design">web design articles</a>.</p>

</div>
<% end %>

<%= google_analytics_tracker GOOGLE_ANALYTICS_ACCOUNT if defined?(GOOGLE_ANALYTICS_ACCOUNT) -%>

<% end %>
</html>
