<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<% head do %>
		<title>The Perfect 2 Column Liquid Layout (left menu): No CSS hacks. SEO friendly. iPhone compatible.</title>
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
		<meta name="description" content="The Perfect 2 Column Liquid Layout (left menu): No CSS hacks. SEO friendly. iPhone compatible." />
		<meta name="keywords" content="The Perfect 2 Column Liquid Layout (left menu): No CSS hacks. SEO friendly. iPhone compatible." />
		<meta name="robots" content="index, follow" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

	<% layout_and_theme_stylesheets '2_column_left_menu_percentage' do %>
		<style media="screen" type="text/css">
		/* <!-- */
		/* General styles */
		body {
			margin:0;
			padding:0;
			border:0;			/* This removes the border around the viewport in old versions of IE */
			width:100%;
			min-width:600px;    	/* Minimum width of layout - remove line if not required */
							/* The min-width property does not work in old versions of Internet Explorer */
		}
		/* Header styles */
		#header {
			clear:both;
			float:left;
			width:100%;
		}
		#header {
			border-bottom:1px solid #000;
		}
		#header p,
		#header h1,
		#header h2 {
			padding:.4em 15px 0 15px;
			margin:0;
		}
		#header ul {
			clear:left;
			float:left;
			width:100%;
			list-style:none;
			margin:10px 0 0 0;
			padding:0;
		}
		#header ul li {
			display:inline;
			list-style:none;
			margin:0;
			padding:0;
		}
		#header ul li a {
			display:block;
			float:left;
			margin:0 0 0 1px;
			padding:3px 10px;
			text-align:center;
			background:#eee;
			color:#000;
			text-decoration:none;
			position:relative;
			left:15px;
			line-height:1.3em;
		}
		#header ul li a:hover {
			background:#369;
			color:#fff;
		}
		#header ul li a.active,
		#header ul li a.active:hover {
			color:#fff;
			background:#000;
			font-weight:bold;
		}
		#header ul li a span {
			display:block;
		}
		/* 'widths' sub menu */
		#layoutdims {
			clear:both;
			background:#eee;
			border-top:4px solid #000;
			margin:0;
			padding:6px 15px !important;
			text-align:right;
		}
		/* column container */
		.colmask {
			position:relative;	/* This fixes the IE7 overflow hidden bug */
			clear:both;
			float:left;
			width:100%;			/* width of whole page */
			overflow:hidden;		/* This chops off any overhanging divs */
		}
		/* common column settings */
		.colright,
		.colmid,
		.colleft {
			float:left;
			width:100%;
			position:relative;
		}
		.col1,
		.col2,
		.col3 {
			float:left;
			position:relative;
			padding:0 0 1em 0;
			overflow:hidden;
		}
		/* 2 Column (left menu) settings */
		.leftmenu {
			background:#fff;		/* right column background colour */
		}
		.leftmenu .colleft {
			right:75%;			/* right column width */
			background:#f4f4f4;	/* left column background colour */
		}
		.leftmenu .col1 {
			width:71%;			/* right column content width */
			left:102%;			/* 100% plus left column left padding */
		}
		.leftmenu .col2 {
			width:21%;			/* left column content width (column width minus left and right padding) */
			left:6%;			/* (right column left and right padding) plus (left column left padding) */
		}
		/* Footer styles */
		#footer {
			clear:both;
			float:left;
			width:100%;
			border-top:1px solid #000;
		}
		#footer p {
			padding:10px;
			margin:0;
		}
		/* --> */
		</style>
	<% end %>
<% end %>

<% body do %>

<div id="header">
	<% header do %>
		<p><a href="http://matthewjamestaylor.com/blog/perfect-multi-column-liquid-layouts" title="Perfect multi-column liquid layouts - iPhone compatible">&laquo; Back to the CSS article</a> by <a href="http://matthewjamestaylor.com">Matthew James Taylor</a></p>
		<h1>The Perfect 'Left Menu' 2 Column Liquid Layout (Percentage widths)</h1>
		<h2>No CSS hacks. SEO friendly. No Images. No JavaScript. Cross-browser &amp; iPhone compatible.</h2>
		<ul>
			<li><a href="http://matthewjamestaylor.com/blog/perfect-3-column.htm">3 Column <span>Holy Grail</span></a></li>
			<li><a href="http://matthewjamestaylor.com/blog/perfect-3-column-blog-style.htm">3 Column <span>Blog Style</span></a></li>
			<li><a href="http://matthewjamestaylor.com/blog/perfect-2-column-left-menu.htm" class="active">2 Column <span>Left Menu</span></a></li>
			<li><a href="http://matthewjamestaylor.com/blog/perfect-2-column-right-menu.htm">2 Column <span>Right Menu</span></a></li>
			<li><a href="http://matthewjamestaylor.com/blog/perfect-2-column-double-page.htm">2 Column <span>Double Page</span></a></li>
			<li><a href="http://matthewjamestaylor.com/blog/perfect-full-page.htm">1 Column <span>Full Page</span></a></li>
			<li><a href="http://matthewjamestaylor.com/blog/perfect-stacked-columns.htm">Stacked <span>columns</span></a></li>
		</ul>
		<p id="layoutdims">Measure columns in: <a href="http://matthewjamestaylor.com/blog/ultimate-2-column-left-menu-pixels.htm">Pixel widths</a> | <a href="http://matthewjamestaylor.com/blog/ultimate-2-column-left-menu-ems.htm">Em widths</a> | <strong>Percentage widths</strong></p>
	<% end %>
</div>
<div class="colmask leftmenu">
	<div class="colleft">
		<div class="col1">
			<%= render :partial => 'layouts/flashes' -%>
			<% column_1 do %>
				<!-- Your page content will end up in here. -->
			<% end %>
		</div>
	</div>
</div>
<div id="footer">
	<% footer do %>
		<p>This page uses the <a href="http://matthewjamestaylor.com/blog/perfect-2-column-left-menu.htm">Perfect 'Left Menu' 2 Column Liquid Layout</a> by <a href="http://matthewjamestaylor.com">Matthew James Taylor</a>. View more <a href="http://matthewjamestaylor.com/blog/-website-layouts">website layouts</a> and <a href="http://matthewjamestaylor.com/blog/-web-design">web design articles</a>.</p>
	<% end %>
</div>

<%= google_analytics_tracker GOOGLE_ANALYTICS_ACCOUNT if defined?(GOOGLE_ANALYTICS_ACCOUNT) -%>

<% end %>
</html>
