<div id="flash">
  <% flash.each do |key, value| -%>
    <p id="flash_<%= key -%>" class="<%= key -%>">
		<%= case key
			when 'success':
				image_tag 'bluetrip/icons/tick.png'
			when 'error':
				image_tag 'bluetrip/icons/cross.png'
			when 'notice':
				image_tag 'bluetrip/icons/key.png'
			end -%>
		<%= html_escape(value) -%>
	</p>
  <% end -%>
</div>
